/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2F3F7;
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between; /* Para separar los elementos */
    align-items: center;
    background-color: #78273E; /* Color de fondo */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/*MENU DESPLAZABLE DE OPCIONES*/
.menu-icon {
    background: none;
    border: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.nav-middle {
    flex: 1;
    text-align: center;
}



.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link.salir {
    font-size: 16px; /* Cambia el tamaño de la letra del enlace "Salir" */
    color: white; 
    margin: 0 6px;
    margin-right: 20px;
}

/* Opcional: Efecto hover para los links */
.navbar a:hover {
    text-decoration: none;
    color: #eee;
}

/* LOGO TECNM */
.nav-logo {
    width: 120px; /* Ajusta el tamaño de la imagen */
    margin-left: 10px; 
}


/* LOGO ITP */
.nav-logo2 {
    width: 66px; /* Ajusta el tamaño de la imagen */
    margin-left: 20px; /* Márgenes alrededor de la imagen */
}

/* IMAGEN PERFIL */
.nav-right {
    position: relative; /* Para el posicionamiento de la imagen de perfil */
    top: 1px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
}

.img-corner {
    width: 30px; /* Tamaño de la imagen */
    height: 30px; /* Tamaño de la imagen */
    /*border-radius: 25%; /* Hacer la imagen circular */
}

/* CALENDARIO AJUSTES */
.calendar-container {
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido esté en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    height: auto; /* Ajusta la altura automáticamente */
    margin-top: 0px; /* Espacio entre la barra de navegación y el contenedor del calendario */
}

iframe {
    width: 100%;
    max-width: 1200px; /* Puedes ajustar este valor según tu diseño */
    height: 700px;
    border: 0; /* Sin bordes */
    margin-top: 60px;
}

.contenidoPagina {
    
    background-color: white; /* Fondo del contenedor */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  /*  max-width: 1500px;*/
    margin: 20px auto; /* Centrar en la página */
    width: calc(100% - 15%);
    margin-top: 80px;
    height: 100%;
}

.dropdown-menu {
    display: none; /* Ocultar el menú por defecto */
    background-color: #78273E;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.695); 
    position: absolute;
    top: 80px; /* Ajustar según la altura de la barra de navegación */
    left: 25px; /* Ajustar para que se alinee correctamente */
    border-radius: 5px;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 14px 20px;
}

.dropdown-menu ul li a {
    color: white;
    text-decoration: none;
}

.dropdown-menu ul li:hover {
    background-color: #a6a6a68b; /* Color al pasar el mouse */
}

@media (max-width: 768px) {
    iframe {
        height: 400px; /* Ajusta la altura para pantallas más pequeñas */
    }
}


/* Estilo para el botón Agregar Evento */
.add-event-btn {
    background-color:black; /* Color verde */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    margin-left: 10px; /* Separación del resto de elementos */
    font-size: 16px; /* Tamaño de texto */
    margin-left: 10px; /* Separación */
    margin-top: 40px;
    align-items: flex-start;
}

/* TEXTO BARRA */
.nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Black';
    font-size: 22px;
}


.saludo {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #222;
    text-align: left;
    padding-left: 40px;
}

.descripcion {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    text-align: left;
    padding-left: 40px;
}

.lista-herramientas {
    padding-left: 50px;
    margin: 20px;
    color: #555;
    list-style: none;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btnLink{
    text-align: right;
}

li{
    margin-bottom: 7px;
}

/*CALENDARIO*/
.calendar-container {
    max-width: 1000px; /* Aumenta el ancho máximo del contenedor */
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    color: black;
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button:focus {
    outline: none;
}

table.calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table.calendar th {
    background-color: rgb(247,247,247);
    color: black;
    padding: 15px 0;
    font-weight: 100;
}

table.calendar td {
    border: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative;
    height: 140px; /* Aumenta la altura de las celdas */
}

/* Estilo del número del día en la esquina superior derecha */
table.calendar td::before {
    content: attr(data-day);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #000;
}

/* Estilo al pasar el ratón sobre las celdas */
table.calendar td:hover {
    background-color: #f1f3f6;
}

/* Estilo para el día actual */
table.calendar td.today::before {
    background-color: #78273E;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.calendario{
    margin-top: 20px;
}


/*ESTILOS PARA EL FORMULARIO*/
/* Estilo para el botón (ya no se utiliza, pero lo mantengo por si lo quieres reutilizar) */
.btnLink {
    text-align: right;
    margin-top: 0px;
}

.boton {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}

/* Estilos del modal */
.modal {
    display: none; /* Se mantendrá oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
    overflow: hidden;
}

.modal-content {
    background-color: white;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/*ESTILO DE LOS ELEMENTOS DEL FORMULARIO*/

/* Estilo del encabezado */

h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
}


/* Estilo de las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}


/* Estilo de los campos de entrada */
input[type="text"],
input[type="date"],

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


/* Estilo del área de texto */

textarea {
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}


/* Estilo de los botones */
.button-group {
    display: flex;
    justify-content: space-between;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button {
    background-color: #f44336; /* Rojo */
    color: white;
}


.cancel-button:hover {
   background-color: #d32f2f; /* Rojo oscuro */
}

.save-button {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.save-button:hover {
    background-color: #388E3C; /* Verde oscuro */
}