
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column; /* Alinea en columna */
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*BARRA SUPERRIOR*/
.header {
    text-align: center;
    background-color: #78273E;
    padding: 12px;
    width: 50%;
    border-radius: 28px;
    margin-bottom: 35px; /* Añade espacio debajo del header */
}

.header h1 {
    color: white;
    font-size: 26px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* LOGIN */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;
}

.login-box {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 380px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.555);
}

/* Logo-AJUSTES */
.logo {
    width: 240px;
    margin-bottom: 2px;
}

/* Input group */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

/* Remember password */
.remember {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.remember input {
    margin-right: 10px;
}

/* Login button */
.login-btn {
    background-color: #78273E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    border-radius: 20px;
}

.login-btn:hover {
    background-color: #78273E;
}
